body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Gill Sans;
    background-color: #f0f0f0;
    background-image: url("https://images.unsplash.com/photo-1432821579285-1b649e5b1ce3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
}

.stopwatch-container {
    background-color: rgba(0, 0, 0, 0.6);;
    backdrop-filter: blur(15px);
    text-align: center;
    color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
}

.stopwatch-container h1 {
    font-size: 50px;
}


#display {
    font-size: 3rem;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    font-family: Georgia;
    font-size: 1rem;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}

button:active {
    transform: scale(0.98);
}

#laps {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

#laps li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
